* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: 6vh;
}
.wrapper {
  background: rgb(169, 169, 169);
  display: grid;
  grid-template-rows: 8% 80% 5% 7%;
  height: 80vh;
  width: 90%;
}

.title {
  text-align: center;
  background-color: red;
  font-size: 2.3em;
}

.x-axis {
  text-align: center;
  font-size: 1.4em;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-y-wrapper {
  display: grid;
  grid-template-columns: 5% 3% 92%;
}

.y-axis {
  background: green;
}
.y-text {
  margin-top: 35vh;
  text-align: center;
  transform: rotate(-90deg);
  font-size: 1.4em;
  text-overflow: clip;
  white-space: nowrap;
}
.graph-wrapper {
  border-left: black 3px solid;
  border-bottom: black 3px solid;

  display: grid;
  grid-template-columns: 5% 14% 5% 14% 5% 14% 5% 14% 5% 14% 5%;
}

.data {
  display: grid;
  grid-template-rows: 50% 50%;
}
.height {
  background: purple;
}
.scale {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
}
.marker {
  display: grid;
  grid-template-columns: 70% 30%;
}
.number-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.line-lower {
  border-top: solid black 1px;
}

.legend {
  display: grid;
  grid-template-columns: 8% 92%;
}

.legend-col {
  display: grid;
  grid-template-columns: 5% 14% 5% 14% 5% 14% 5% 14% 5% 14% 5%;
}
.legend-txt {
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
